@font-face{
    font-family: 'AmazDooMLeft';
    src: url('../fonts/amazdoomleft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-image: url('../img/doomGuyBck.webp'),
    linear-gradient(to top, black, rgba(27,0,0,0.4));
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 10px 20px;
    border: 3px solid #4d0000;
    background-image: linear-gradient(to bottom, rgb(165, 0, 0), rgb(80, 0, 0)),
    url("../textures/tex01.jpg"),
    url("../textures/tex02.jpg");
    background-blend-mode: multiply;
    box-shadow: inset 0 0 20px #000, 0 0 15px rgb(124, 0, 0);
    border-radius: 10px;
}


header form{
    display: flex;
    gap: 7px;
}

select{
    padding: 5px 10px;
    border-radius: 5px;
    border: 3px solid #4d0000;
    background-image: linear-gradient(to bottom, rgb(165, 0, 0), rgb(100, 0, 0)),
    url("textures/tex01.jpg");
    background-blend-mode: multiply, color-burn;
    box-shadow: inset 0 0 15px #000;
    color: rgb(230, 200, 200);
    outline: none;
    font-family: "Jacquard 24", system-ui;
}

select:hover{
    cursor: pointer;
    border-color: #8a0000;
}

input[type="button"]{
    padding: 5px 20px;
    border-radius: 5px;
    border: 3px solid #4d0000;
    background-image: linear-gradient(to bottom, rgb(200, 0, 0), rgb(90, 0, 0));
    box-shadow: inset 0 0 10px #000, 0 0 10px red;
    color: rgb(27, 0, 0);
    font-weight: bold;
    font-family: "Jacquard 24", system-ui;
    letter-spacing: 1px;
}

input[type="button"]:hover{
    cursor: pointer;
    border-color: rgb(179, 0, 0);
    box-shadow: inset 0 0 15px black, 0 0 20px red;
}

header p{
    color: rgb(255, 50, 50);
    font-size: 22px;
    font-family: "Jacquard 24", system-ui;
    text-shadow: 0 0 10px rgb(255,0,0);
}
#tabuleiro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 10px 20px;
    border: 3px solid rgb(77, 0, 0);
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}


.alertaDoom {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.alerta {
    background: linear-gradient(to bottom, rgb(66, 0, 0), rgb(32, 0, 0));
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid red;
    box-shadow: 0 0 20px red;
    font-family: 'AmazDooMLeft';
}
.alerta p {
    color: #ff4444;
    font-size: 20px;
    margin-bottom: 20px;
}
.alerta button {
    background: black;
    color: red;
    border: 3px solid red;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'AmazDooMLeft';
    font-size: 18px;
}
.alerta button:hover {
    background: red;
    color: black;
    box-shadow: 0 0 15px red;
}